    body{
        background:linear-gradient(to right, #74659c, #169768);
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:20px;
    }
    .container{
        width: 50%;
       padding: 20px;
       border-radius: 25px;
       margin: 25px auto;
       align-content: center;
    }

    h1,h2{
        color:#0f1017;
        font-size:xx-large;
        padding: 20px;
        text-align: center;
        text-shadow: 0 0 15px rgb(23, 74, 98);
    }

input[type='radio'] {
    vertical-align: middle;
    margin-left: 10px;
    order: 2;
}

label {
    font-size: larger;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
select{
    width: 100%;
    font-size:  larger;
    cursor:default;
    background: rgb(194, 170, 180);
    border: 3px solid;
    border-radius: 10px;
}
button{
    font-size: larger;
    width: 30%;
    padding: 10px 5px;
    cursor:pointer;
    background-color: rgb(194, 170, 180);
    border: 2px solid rgb(97, 28, 28);
    border-radius: 10px;
 
}


